
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div class="container">
	<nav aria-label="breadcrumb" class="breadcrumb-info">
		<h2 class="hny-title text-center">About Us</h2>
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</nav>
</div>
<!-- //breadcrumbs-->
	</div>
<!--//banner-slider-->
</section>



