
					@using static please2.Models.paginatedList;
					@model PaginatedList<please2.Models.Livre1>

					@{
						ViewData["Title"] = "Index";
						List<string> categories = new List<string>
					{
					"Fiction",
					"Science Fiction",
					"Mystery",
					"Thriller",
					"Fantasy",
					"Romance",
					"Biography",
					"History",
					"Self-Help",
					"Travel"
					};
					}

		
								
	</div>
	</div>
</section>



					

					
